* text=auto !eol
/CLU.sln -text
CLU/Base/Buff.cs -text
CLU/Base/Item.cs -text
CLU/Base/Macro.cs -text
CLU/Base/Movement.cs -text
CLU/Base/Rest.cs -text
CLU/Base/Spell.cs -text
CLU/Base/Unit.cs -text
CLU/Base/enums.cs -text
CLU/CLU.cs -text
CLU/CLU.csproj -text
CLU/Classes/DeathKnight/Blood.cs -text
CLU/Classes/DeathKnight/Common.cs -text
CLU/Classes/DeathKnight/Frost.cs -text
CLU/Classes/DeathKnight/Unholy.cs -text
CLU/Classes/Druid/Balance.cs -text
CLU/Classes/Druid/Common.cs -text
CLU/Classes/Druid/Feral.cs -text
CLU/Classes/Druid/Guardian.cs -text
CLU/Classes/Druid/Restoration.cs -text
CLU/Classes/HealerRotationBase.cs -text
CLU/Classes/Hunter/BeastMastery.cs -text
CLU/Classes/Hunter/Common.cs -text
CLU/Classes/Hunter/Marksmanship.cs -text
CLU/Classes/Hunter/Survival.cs -text
CLU/Classes/Mage/Arcane.cs -text
CLU/Classes/Mage/Fire.cs -text
CLU/Classes/Mage/Frost.cs -text
CLU/Classes/Monk/Brewmaster.cs -text
CLU/Classes/Monk/Mistweaver.cs -text
CLU/Classes/Monk/Windwalker.cs -text
CLU/Classes/Paladin/Holy.cs -text
CLU/Classes/Paladin/Protection.cs -text
CLU/Classes/Paladin/Retribution.cs -text
CLU/Classes/Priest/Discipline.cs -text
CLU/Classes/Priest/Holy.cs -text
CLU/Classes/Priest/Shadow.cs -text
CLU/Classes/Rogue/Assassination.cs -text
CLU/Classes/Rogue/Combat.cs -text
CLU/Classes/Rogue/Poisons.cs -text
CLU/Classes/Rogue/Subtlety.cs -text
CLU/Classes/RotationBase.cs -text
CLU/Classes/Shaman/Elemental.cs -text
CLU/Classes/Shaman/Enhancement.cs -text
CLU/Classes/Shaman/Restoration.cs -text
CLU/Classes/Shaman/Totems.cs -text
CLU/Classes/Warlock/Affliction.cs -text
CLU/Classes/Warlock/Demonology.cs -text
CLU/Classes/Warlock/Destruction.cs -text
CLU/Classes/Warrior/Arms.cs -text
CLU/Classes/Warrior/Fury.cs -text
CLU/Classes/Warrior/Protection.cs -text
CLU/CombatLog/CombatLogEvents.cs -text
CLU/CombatLog/EventArgs.cs -text
CLU/CombatLog/WoWStats.cs -text
CLU/GUI/ConfigurationForm.cs -text
CLU/GUI/ConfigurationForm.designer.cs -text
CLU/GUI/ConfigurationForm.resx -text
CLU/GUI/GUIHelpers.cs -text
CLU/GUI/Resources/CLU.ico -text
CLU/GUI/Resources/CLU.png -text
CLU/GUI/TargetInfo.cs -text
CLU/GUI/TargetInfo.designer.cs -text
CLU/GUI/TargetInfo.resx -text
CLU/Helpers/BotChecker.cs -text
CLU/Helpers/CircularBuffer.cs -text
CLU/Helpers/EncounterSpecific.cs -text
CLU/Helpers/HealableUnit.cs -text
CLU/Helpers/Keybinds.cs -text
CLU/Helpers/TargetBase.cs -text
CLU/Helpers/UnitOracle.cs -text
CLU/Lists/Bosslist.cs -text
CLU/Lists/MiscLists.cs -text
CLU/Lists/Trinkets.cs -text
CLU/Managers/PetManager.cs -text
CLU/Managers/SpellImmunityManager.cs -text
CLU/Managers/TalentManager.cs -text
CLU/Properties/AssemblyInfo.cs -text
CLU/Readme.txt -text
CLU/Settings/CLUSettings.cs -text
CLU/Settings/DeathKnightSettings.cs -text
CLU/Settings/DruidSettings.cs -text
CLU/Settings/HunterSettings.cs -text
CLU/Settings/MageSettings.cs -text
CLU/Settings/MonkSettings.cs -text
CLU/Settings/PaladinSettings.cs -text
CLU/Settings/PriestSettings.cs -text
CLU/Settings/RogueSettings.cs -text
CLU/Settings/ShamanSettings.cs -text
CLU/Settings/WarlockSettings.cs -text
CLU/Settings/WarriorSettings.cs -text
CLU/Sound/SoundManager.cs -text
CLU/Sound/aoeabilitiesdisabled.wav -text
CLU/Sound/aoeabilitiesenabled.wav -text
CLU/Sound/chakrasanctuary.wav -text
CLU/Sound/chakraserenity.wav -text
CLU/Sound/cooldownsdisabled.wav -text
CLU/Sound/cooldownsenabled.wav -text
CLU/Sound/dsextraactionbuttondisabled.wav -text
CLU/Sound/dsextraactionbuttonenabled.wav -text
CLU/Sound/interuptsdisabled.wav -text
CLU/Sound/interuptsenabled.wav -text
CLU/Sound/multidottingdisabled.wav -text
CLU/Sound/multidottingenabled.wav -text
CLU/Sound/raidandpartybuffingdisabled.wav -text
CLU/Sound/raidandpartybuffingenabled.wav -text
CLU/Sound/rotationenabled.wav -text
CLU/Sound/rotationpaused.wav -text
CLU/Sound/selfhealingdisabled.wav -text
CLU/Sound/selfhealingenabled.wav -text
